{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<!-- Navigation-->

	<!-- Page Content-->
		<div
		class="container-fluid p-0"> <!-- About-->
		<section class="resume-section" id="about">
			<div class="resume-section-content">
				<h1 class="mb-0 d-flex justify-content-start">
					<div data-aos="fade-right">Médy&thinsp;</div>
					<span class="text-primary" data-aos="fade-down" data-aos-delay="300">SIMON</span>
				</h1>
				<div class="subheading mb-5" data-aos="fade-right" data-aos-delay="600">
					27930 Gauville-la-campagne · (+33) 7 71 14 70 06 ·
					<a href="mailto:name@email.com">simonmedy1990@hotmail.com</a>
				</div>
				<p class="lead" data-aos="fade-right" data-aos-delay="900">Développeur WEB Junior et étudiant à IPSSI en recherche d'une alternance en développement WEB avec un rythme de 3 semaines en entreprise pour 1 semaine à l'école.</p>
				<p class="fst-italic mb-5" data-aos="fade-right" data-aos-delay="900">Site réalisé avec Symfony.</p>
				<div class="social-icons">
					<a class="social-icon" href="https://www.linkedin.com/in/medy-simon/" target="_blank" data-aos="fade-down" data-aos-delay="1400">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a class="social-icon" href="https://github.com/SimonMedy" target="_blank" data-aos="fade-down" data-aos-delay="1500">
						<i class="fab fa-github"></i>
					</a>
					<a class="social-icon" href="https://www.instagram.com/_medysimonl?igsh=aGQ4MzVtMHpxNHZu" target="_blank" data-aos="fade-down" data-aos-delay="1600">
						<i class="fab fa-instagram"></i>
					</a>
					<a class="social-icon" href="https://discord.com/invite/pF4wup9a" target="_blank" data-aos="fade-down" data-aos-delay="1700">
						<i class="fab fa-discord"></i>
					</a>
					<a class="social-icon" href="https://steamcommunity.com/profiles/76561198196511487/" target="_blank" data-aos="fade-down" data-aos-delay="1800">
						<i class="fab fa-steam"></i>
					</a>
				</div>
				<div data-aos="fade-right" data-aos-delay="2000">
					<h2 class="mt-5">à propos de moi</h2>
					<p class="lead">Je m'appelle Médy SIMON, j'ai 20 ans et je suis passionné par l'informatique et plus particulièrement par le développement web.
						<br/>Je suis actuellement étudiant à la recherche d'une entreprise pour un poste spécialisée dans le développement web en contrat d'alternance.
						<br/>Mon objectif est de me former aux métiers du web, tout en acquérant une expérience professionnelle enrichissante.
						<br/>Je suis déterminé à améliorer mes compétences en développement, notamment dans les langages HTML, CSS, JavaScript et PHP, ainsi que les Frameworks tels que React, Angular et Symfony.
						<br/>Je suis ouvert à de nouvelles opportunités passionnantes et à l'idée de travailler en équipe, n'hésitez pas à me contacter pour discuter d'opportunités d'alternance dans le domaine du développement web.
					</p>
					<a class="btn btn-outline-primary" href="{{ path('cv_download') }}" download="simon-medy-cv.pdf">Télécharger mon CV</a>
				</div>
			</div>
		</section>
		<hr
		class="m-0"/>

		<!-- Experience-->
		<section class="resume-section" id="experience">
			<div class="resume-section-content" data-aos="fade-right">
				<h2 class="mb-5">Expérience</h2>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">Junior Web Designer</h3>
						<div class="subheading mb-3">Shout! Media Productions</div>
						<p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
					</div>
					<div class="flex-shrink-0">
						<span class="text-primary">July 2010 - December 2011</span>
					</div>
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-between">
					<div class="flex-grow-1">
						<h3 class="mb-0">Technicien informatique</h3>
						<div class="subheading mb-3">CFA MFR PLABENNEC-PLOUDANIEL - STAGE</div>
						<p>
							Maintenance sur des machines/ordinateurs, Manipulation et administration réseaux et Manipulation Linux, terminal, commandes et scripts
						</p>
					</div>
					<div class="flex-shrink-0">
						<span class="text-primary">Mai 2022 - juillet 2022</span>
					</div>
				</div>
			</div>
		</section>
		<hr
		class="m-0"/>

		<!-- Education-->
		<section class="resume-section" id="education">
			<div class="resume-section-content" data-aos="fade-right">
				<h2 class="mb-5">éducation</h2>
				<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
					<div class="flex-grow-1">
						<h3 class="mb-0">University of Colorado Boulder</h3>
						<div class="subheading mb-3">Bachelor of Science</div>
						<div>Computer Science - Web Development Track</div>
						<p>GPA: 3.23</p>
					</div>
					<div class="flex-shrink-0">
						<span class="text-primary">August 2006 - May 2010</span>
					</div>
				</div>
				<div class="d-flex flex-column flex-md-row justify-content-between">
					<div class="flex-grow-1">
						<h3 class="mb-0">Lycée Louis Modeste Leroy - évreux</h3>
						<div class="subheading mb-3">Baccalauréat général</div>
						<p>Obtention avec Mention Assez Bien</p>
					</div>
					<div class="flex-shrink-0">
						<span class="text-primary">Septembre 2018 - Juillet 2021</span>
					</div>
				</div>
			</div>
		</section>
		<hr
		class="m-0"/>

		<!-- Skills-->
		<section class="resume-section" id="skills">
			<div class="resume-section-content" data-aos="fade-right">
				<h2 class="mb-5">Compétences</h2>

				<div class="subheading">Langages de programmation</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item">
						<i class="fab fa-html5"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-css3-alt"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-js-square"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-node-js"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-php"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-python"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-java"></i>
					</li>
				</ul>

				<div class="subheading">Frameworks</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item">
						<i class="fab fa-symfony"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-angular"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-react"></i>
					</li>
				</ul>

				<div class="subheading">Gestion des données
				</div>
				<div class="subheading mb-4" style="font-style: italic">
					<i class="fa-solid fa-database"></i>MySQL &nbsp
					<i class="fa-solid fa-database"></i>PhpMyAdmin</div>

				<div class="subheading">Autre Outils</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item">
						<i class="fab fa-bootstrap"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-figma"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-linux"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-windows"></i>
					</li>
				</ul>
			</div>
		</section>
		<hr
		class="m-0"/>

		<!-- Interests-->
		<section class="resume-section" id="interests">
			<div class="resume-section-content" data-aos="fade-right">
				<h2 class="mb-5">Centres d'intérets</h2>
				<div class="d-flex flex-wrap justify-content-left">
					<a class="me-5 mb-5" href="#" style="text-decoration: none">
						<div class="interestcontainer">
							<div class="interestcard">
								<div>
									<h3>Jeux vidéos</h3>
								</div>
							</div>
						</div>
					</a>
					<a class="me-5 mb-5" href="#" style="text-decoration: none">
						<div class="interestcontainer">
							<div class="interestcard">
								<div>
									<h3>Mangas</h3>
								</div>
							</div>
						</div>
					</a>
					<a class="me-5 mb-5" href="#" style="text-decoration: none">
						<div class="interestcontainer">
							<div class="interestcard">
								<div>
									<h3>Conduite</h3>
								</div>
							</div>
						</div>
					</a>
					<a class="me-5 mb-5" href="#" style="text-decoration: none">
						<div class="interestcontainer">
							<div class="interestcard">
								<div>
									<h3>Musique</h3>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		<hr class="m-0"/>
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
{% endblock %}
